@{
    ViewData["Title"] = "About Us page";
}

<div class="text-center">
    <h1 class="display-4">This will be the About Us page of the website</h1>
    <p>This will be the about us page. I will have an information about the gym (history, classes etc.).</p>
</div>