@{
    ViewData["Title"] = "About Us page";
}

<link rel="stylesheet" href="~/css/Home/AboutUs.css" />
<div id="main-container">
    <div class="text-center" id="main-div">
        <h1>
            Welcome to the family!
        </h1>
        <h3 class="questions">Who are we?</h3>
        <p class="answers">
            The Real Deal Gym was established in 2024. It is the largest lesure center in Bulgaria with the most modern equipments.
        </p>
        <h3 class="questions">What we offer?</h3>
        <p class="answers">
            We offer a variety of different sports you can practice including weightlifting, striking and grappling martial arts, yoga and stretching, swimming and others.
        </p>
        <h3 class="questions">Our facilities:</h3>
        <p class="answers">
            We have a lot of different rooms tailored to the specificity of your favourite sport.
            This includes a spacious gym, olimpic size pool, grappling room, boxing room, yoga and stretching room and many others.
        </p>
        <h3 id="motivation-message">Come join us now! The best time to start is today!</h3>

    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Contacts</h5>
            <p class="card-text">Phone number:  0882788883</p>
            <p class="card-text">Email:  Info@trdg.com</p>
            <p class="card-text">Address: Sofia, zh.k."Krasno selo", 17A</p>
            <p class="card-text">Post code: 1000</p>
        </div>
    </div>
</div>
