@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-10">
                <img src="https://i.pinimg.com/originals/32/49/f2/3249f283ba6faae88f0847e9f3d5fd4c.jpg" alt="Alternative image" class="img-thumbnail">
                <div class="text-left h4">
                    <p>400 Error: You tripped and fell on the form! Get back up, fix the errors, and try submitting again.</p>
                </div>
                <div class="text-left h4">  Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>
