@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This will be the home page of the website</h1>
    <p>It will have some slogan. Maybe a description and the backgrownd will be a photo. Could have a carousell with pictures fom the gym.</p>
</div>
