@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This will be the home page of the website</h1>
    <p>It will have some slogan. Maybe a description and the backgrownd will be a photo. Could have a carousell with pictures fom the gym.</p>
    <h3>NOTE: The Rooms controller will only be present in the ADMIN area since the admin will be the only person who can add delete or edit any of these entities.</h3>
    <h3>NOTE: The Sports controller will only be present in the ADMIN area since the admin will be the only person who can add delete or edit any of these entities.</h3>
</div>
