@{
    ViewData["Title"] = "Rooms page";
}

<div class="text-center">
    <h1 class="display-4">This will be the page which displays all rooms which are currently created</h1>

    <p>there can also be created updated and deleted rooms.</p>

</div>