@{
    ViewData["Title"] = "Jobs page";
}

<div class="text-center">
    <h1 class="display-4">This will be the page which displays the opened job positions (if any)</h1>

    <p>Dedicated to managing job openings, applications, and the application lifecycle.</p>
    <p>There should be Details button showing more information about the job.</p>
    <p>Whenever a trainer is dismissed or leaves a job ad should be created automatically.</p>
    <p>the admin will make decisions on candidates which have applied.</p>
</div>