
h1{
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1rem;
}

#myCarousel {
    margin-top: 5rem;
}

.carousel-inner {
    margin-left: 16rem;
}

.d-block {
    border-radius: 8px;
}

.carousel-item * {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}