@{
    ViewData["Title"] = "Bookings page";
}

<div class="text-center">
    <h1 class="display-4">This will be responsible for managing the logged-in user bookings and will only be visible for registered non-trainer users.</h1>

    <p>In the Classes controller “index” where all classes are displayed – the logic behind the “Book”, “Cancel booking” buttons will be dedicated to Bookings Controller.</p>
    <p>“My Bookings” view where a list of all the bookings made by the current user will be displayed with options to "cancel" and "see details"(the logic for this button is from the Class controller).</p>
</div>