@{
    ViewData["Title"] = "Class details";
}

<div class="text-center">
    <h1 class="display-4">This will be the page which displays the full information about the given class</h1>
    <p>It should use the ClassDetailsModel.</p>
</div>