@model ClassFormModel
@{
    ViewData["Title"] = "Edit Class";
}

<link rel="stylesheet" href="~/css/Class/Add.css" />

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name ="_ClassFormPartial" model="@Model" />

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}

