@{
    ViewData["Title"] = "Gym's classes schedule";
}

<div class="text-center">
    <h1 class="display-4">This will be the page which displays the gym schedule</h1>
    <p>It will have a list of the current available classes for a certain period of time (3-5-7-10 days, will see which one will implement, could be the option to chose).</p>
    <p>There will be a search bar which will have the option to filter by date, sport type, sport name, key word field.</p>
    <p>A Registered user will be able to book for a class by clicking a button and will also be able to cancel booking. These buttons will lead to Bookings controller</p>
    <p>A Trainer will be able to edit or cancel a class by clicking buttons.</p>
    <p>Editing or canceling a class by trainer should notify the users (should thing about using SignalR, a pop-up notification should be displayed upon user logging-on, or if they are already logged-on - live)</p>
    <p>If a class is full, the "Book" button should be disabled and somehere should be displayed "This class is full".</p>
</div>