@model IEnumerable<SportInfoModel>

@{
    ViewBag.Title = "Sports";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th><label>Sport</label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sport in Model)
        {
            <tr>
                <td><label>@sport.Title</label></td>
                <td>
                    <form asp-controller="Staff" asp-action="Details" method="get">
                        <input type="hidden" name="sportId" value="@sport.Id">
                        <button type="submit" class="btn btn-primary">Details</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>