@model IEnumerable<SportInfoModel>

@{
    ViewBag.Title = "Sports";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div>
    <form asp-controller="Sport" asp-action="Add" method="get">
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th><label>Sport</label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sport in Model)
        {
            <tr>
                <td><label>@sport.Title</label></td>
                <td>
                    <form asp-controller="Sport" asp-action="Edit" method="get">
                        <input type="hidden" name="sportId" value="@sport.Id">
                        <button type="submit" class="btn btn-warning">Edit</button>
                    </form>
                </td>
                <td>
                    <form asp-controller="Sport" asp-action="Delete" method="post">
                        <input type="hidden" name="sportId" value="@sport.Id">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>