/* JobAdvert Index*/

.cfg-edit {
    padding-left: 34px;
    padding-right: 34px;
}

.cfg-deactivate {
    padding-left: 10px;
    padding-right: 10px;
}

.cfg-activate {
    padding-left: 18px;
    padding-right: 18px;
}