@{
    ViewData["Title"] = "Trainer page";
}

<div class="text-center">
    <h1 class="display-4">This page will be  visible for trainers only and will display the trainer classes and will present the option to resign from the job</h1>

    <p>Will be accessible through “My Profile” button.</p>
    <p>My Classes section for trainers to display a list of their classes. (if they want to change something or add another class the logic should be redirected to the Class controller)</p>
    <p>There will be an option to resign from the job by pressing a button.</p>
</div>