@{
    ViewData["Title"] = "Careers page";
}

<div class="text-center">
    <h1 class="display-4">This will be the page which displays the available positions (if any)</h1>
    
    <p>Dedicated to managing job openings, applications, and the application lifecycle.</p>
    <p>There should be Details button showing more information about the job.</p>
    <p>There should be Apply button which would open an application form the applicant should fill and submit.</p>
    <p>NOTE: Admin area should also have Career controller where the admin will make decisions on candidates which have applied.</p>
</div>