@model IEnumerable<JobAdvertListModel>

@{
    ViewBag.Title = "Jobs";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th><label>Job Title</label></th>
            <th><label>Active</label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model)
        {
            <tr>
                <td><label>@job.Title</label></td>
                <td><label>@job.IsActive</label></td>
                <td>
                    <form asp-controller="Staff" asp-action="Details" method="get">
                        <input type="hidden" name="jobId" value="@job.Id">
                        <button type="submit" class="btn btn-primary">Details</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>